/* main */

main {
    background-image: url(./image/contact/main-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.qa-box {
    width: 927px;
    height: 53px;
    font-size: 1.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 14px;
    margin-top: 10px;
    background-color: var(--9f4800);
    color: white;
}

.qa-box img {
    cursor: pointer;
    width: 23px;
    height: 23px;
    transition: all 0.35s;
}

.ans-box {
    display: none;
    width: 927px;
    height: 70px;
    padding: 15px 50px;
    background-color: #F5E9E4;
    color: #09302B;
}

.qa-box img:hover {
    width: 30px;
    height: 30px;
}



#shop-qa h1,
#transport-qa h1,
#product-qa h1 {
    font-size: 2.25rem;
    color: #052F2A;
    display: block;
    width: 100%;
    height: 100px;
    background-color: #CE9741;
    margin-bottom: 24px;
    text-align: center;
    line-height: 100px;
}

#shop-qa h2,
#transport-qa h2,
#product-qa h2 {
    font-size: 2.25rem;

}

.shop-qa-title,
.transport-qa-title,
.product-qa-title {
    width: 36vh;
    max-width: 522px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* contact */

#contact {
    height: 800px;
    /* background-color: #CF9842; */
    display: flex;
    flex-direction: row-reverse;
}

.contact-info-title {
    height: 800px;
    width: 50%;
    color: var(--09302b);
    padding-top: 286px;
    padding-left: 159px;
}

.contact-info-title h1 {
    font-size: 4rem;
    margin-bottom: 42px;
}

.contact-info-title h2 {
    font-size: 1.75rem;
}

.contact-info-box {
    height: 800px;
    width: 50%;
    font-size: 1.5rem;
    color: white;
    padding-left: 14%;
    padding-top: 482px;
}

.contact-info-box div {
    display: flex;
    margin-bottom: 52px;
}

.contact-info-box h3 {
    display: block;
    width: 195px;
}

/* RWD斷點 */
/* 大型設備(桌機) */
@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:820px) {
    .contact-info-title {
        padding: 200px 0 0 0;
    }
}

/* 小型設備(手機) */
@media (max-width:640px) {
    #contact {
        flex-direction: column;
        background-color: #CE9741;
    }

    .contact-info-title {
        padding-top: 100px;
        width: 100%;
        height: 400px;
    }

    .contact-info-box {
        padding: 50px 0;
        width: 100%;
    }
}

/* shop-qa */
#shop-qa {
    height: 800px;
    width: 100%;
    /* background-color: #062F2A; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 68px;
    padding-right: 50px;
    padding-bottom: 55px;
}

.shop-qa-box {
    align-self: flex-end;
}

.shop-qa-title h1 {
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
}

.shop-qa-title h2 {
    color: var(--f5e9e4);
}

/* RWD斷點 */
/* 大型設備(桌機) */
@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:820px) {
    #shop-qa {
        padding: 0;
        flex-direction: column-reverse;
    }

    .shop-qa-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* align-items: flex-end; */
    }

    .qa-box,
    .ans-box {
        width: 90%;
        min-width: 351px;
    }
    #shop-qa {
        padding: 0;
        justify-content: center;
    }
}

/* 小型設備(手機) */
@media (max-width:640px) {
    .ans-box {
        height: 100px;
    }

    #transport-qa {
        padding-bottom: 0;
    }
}


/* transport-qa */
#transport-qa {
    height: 800px;
    /* background-color: #FFFAF8; */
    padding-top: 219px;
    padding-left: 53px;
    /* padding-bottom: 52px; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.transport-qa-title {
    align-self: flex-end;
}

.transport-qa-title h1 {
    border-top-left-radius: 99px;
    border-bottom-left-radius: 99px;
}

.transport-qa-title h2 {
    color: #F5E9E4;
}

/* RWD斷點 */
/* 大型設備(桌機) */
@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:820px) {
    #transport-qa {
        flex-direction: column-reverse;
    }

}

/* 小型設備(手機) */
@media (max-width:640px) {
    #transport-qa {
        padding-left: 0;
    }
    #transport-qa{
        justify-content: center;
    }
}

/* product-qa */

#product-qa {
    height: 800px;
    /* background-color: #062F2A; */
    padding-top: 67px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
}

.product-qa-title h1 {
    border-bottom-right-radius: 99px;
    border-top-right-radius: 99px;
}

.product-qa-title h2 {
    color: white;
}

.product-qa-box {
    margin-top: 217px;
}

/* RWD斷點 */
/* 大型設備(桌機) */
@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:820px) {
    #product-qa {
        flex-direction: column;
        justify-content: flex-start;
    }

    .product-qa-box {
        margin-top: 0;
    }
}

/* 小型設備(手機) */
@media (max-width:640px) {
    #product-qa {
        height: 850px;
    }
    body {
        line-height: 1;
    }
}


/* RWD斷點 */
/* 大型設備(桌機) */
@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:820px) {}

/* 小型設備(手機) */
@media (max-width:640px) {}