/* main */

main {
    overflow: hidden;
    background-color: #FFF6F2;
}

/* banner */

#banner {
    position: relative;
    background-color: #FFF6F2;
    display: flex;
    height: 800px;
    padding-top: 169px;
}

#banner div {
    width: 50%;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 3%;
    color: var(--09302b);
}

#banner .left h1 {
    font-size: 4rem;
    margin-bottom: 5px;
}

#banner .left h1:first-child {
    margin-bottom: 24px;
    margin-right: 300px;
}

#banner .left h2 {
    font-size: 1.75rem;
}

#banner .right {
    padding-left: 12%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    z-index: 10;
}

#banner .right figure {
    filter: drop-shadow(50px 37px 0 #3B4A1F);
    margin-bottom: 12%;
    margin-left: 35px;
}

#banner .right h2 {
    display: block;
    font-size: 1.75rem;
    text-align: center;
    color: var(--09302b);
    line-height: 1.5;
}

#banner .banner-bottom-img {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 0;
}

#banner .banner-right-img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

#banner .banner-bird-img {
    position: absolute;
    top: 10%;
    left: 50%;
    z-index: 0;
}

/* RWD斷點 */
/* 大型設備(桌機) */
@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:820px) {
    #banner {
        padding-top: 100px;
    }

    .banner-right-img {
        display: none;
    }

    #banner .left {
        align-items: flex-start;
        padding: 0 10px;

    }

    #banner .right {
        padding: 0;
    }
}

/* 小型設備(手機) */
@media (max-width:640px) {
    #banner>img {
        display: none;
    }

    #banner {
        flex-direction: column;
        padding-top: 100px;
        height: 120vh;
    }

    #banner .left {
        width: 100%;
        align-items: flex-start;
        padding: 0 10px;

    }

    #banner .right {
        width: 100%;
        padding: 30px 0 0 0;
    }
}

/* about */

#about {
    position: relative;
    background-color: #FFF6F2;
    height: 800px;
    text-align: center;
    padding: 52px 25.5%;
    color: var(--09302b);
    line-height: 1.5;
}

#about * {
    z-index: 10;
}

#about p:last-child {
    text-align: left;
}

#about h1 {
    font-size: 1.75rem;
    margin-bottom: 30px;
    font-weight: 700;
}

#about p {
    margin-bottom: 22px;
}

/* RWD斷點 */
/* 大型設備(桌機) */
@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:820px) {
    #about {
        padding: 30px 10%;
        height: 60vh;
    }
    .curry-first-bg-4,
    .curry-first-bg-3,
    .curry-first-bg-2,
    .curry-first-bg-1 {
        object-fit: contain;
        left: 0;
        width: 150vh;
    }
}

/* 小型設備(手機) */
@media (max-width:640px) {
    
    .curry-first-bg-4,
    .curry-first-bg-3,
    .curry-first-bg-2,
    .curry-first-bg-1 {
        display: none;
    }

    #about {
        padding: 30px 20px;
        text-align: justify;
        height: 80vh;
    }

    #about h1 {
        text-align: center;
    }
}

/* vision */

#vision {
    position: relative;
    height: 800px;
    /* background-color: #062F2A; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vision-box {
    width: 633px;
    height: 644px;
    background-image: url(./image/guided/vision-content-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--09302b);
    line-height: 1.5;
    z-index: 50;
}

.vision-box h1 {
    font-size: 1.75rem;
    margin-bottom: 62px;
    font-weight: 700;
}

.vision-box p {
    display: block;
    width: 322px;
    font-size: 1.125rem;
}

/* RWD斷點 */
/* 大型設備(桌機) */
@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:820px) {

}

/* 小型設備(手機) */
@media (max-width:640px) {
    .vision-box {
        width: 100%;
    }
}

/* curry-first */

#curry-first {
    position: relative;
    height: 800px;
    background-color: #FFF6F2;
    display: flex;
}

.curry-first-box {
    line-height: 1.5;
    width: 656px;
    margin-left: 19%;
    margin-top: 490px;
    z-index: 10;
}

.curry-first-box h1 {
    font-size: 2.5rem;
    color: #C89443;
    margin-bottom: 35px;
}

.curry-first-box p {
    font-size: 1.125rem;
    color: var(--09302b);
}

.curry-first-bg-1 {
    position: absolute;
    width: 100%;
    height: 1621px;
    bottom: 0;
    z-index: 0;
}

.curry-first-bg-2 {
    position: absolute;
    width: 100%;
    height: 1852px;
    bottom: 0;
    z-index: 0;
}

.curry-first-bg-3 {
    position: absolute;
    width: 100%;
    height: 1899px;
    bottom: 0;
    z-index: 0;
}

.curry-first-bg-4 {
    position: absolute;
    width: 100%;
    height: 1947px;
    bottom: 0;
    z-index: 0;
}

/* RWD斷點 */
/* 大型設備(桌機) */
@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:820px) {
    .curry-first-box {
        height: 100vh;
        margin: 45% auto 0 auto;
        width: 480px;
    }
}

/* 小型設備(手機) */
@media (max-width:640px) {
    .curry-first-box h1{
        font-size: 2rem;
    }
    #curry-first{
        height: 60vh;
        padding-top: 10%;
    }
    .curry-first-box {
        margin: 0;
    }
}

/* curry-orgin */

#curry-orgin {
    height: 800px;
    background: linear-gradient(170deg, #9F4800 60%, #FFF6F2 40%);
    position: relative;
    padding-top: 35px;
}

#curry-orgin h1 {
    font-size: 3rem;
    text-align: center;
    line-height: 100px;
    display: block;
    width: 380px;
    height: 100px;
}

#curry-orgin h2 {
    font-size: 2.25rem;
    letter-spacing: 1.3rem;
}

.curry-orgin-title h1 {
    color: #052F2A;
    background-color: #CE9741;
    border-end-end-radius: 99px;
    border-top-right-radius: 99px;
    text-align: center;
}

.curry-orgin-title h2 {
    margin-left: 108px;
    margin-top: 26px;
    color: white;
}

.curry-orgin-content {
    width: 490px;
    position: absolute;
    top: 19.3%;
    left: 40%;
    color: #9F4800;
    line-height: 2;
    z-index: 10;
}

.curry-orgin-footer {
    float: right;
    margin-top: 25%;
}

.curry-orgin-footer h1 {
    color: #F2E6E1;
    background-color: #9F4800;
    border-start-start-radius: 99px;
    border-bottom-left-radius: 99px;
    text-align: center;

}

.curry-orgin-footer h2 {
    padding-left: 110px;
    color: #09302B;
    margin-top: 11px;
}

.curry-orgin-bg {
    position: absolute;
    top: 0;
    left: 10%;
    z-index: 0;
}

/* RWD斷點 */
/* 大型設備(桌機) */
@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:820px) {
    .curry-orgin-content{
        width: 400px;
        right: 30px;
        left:auto;
        color: #F2E6E1;
    }
    #curry-orgin img{
        display: none;
    }
    .curry-orgin-footer {
        float: right;
        margin-top: 50%;
    }
}

/* 小型設備(手機) */
@media (max-width:640px) {

    #curry-orgin{
        display: flex;
        flex-direction: column;
    }
    .curry-orgin-content{
        position: static;
        padding: 10px;
        align-self: center;
        text-align: center;
    }
    .curry-orgin-footer {
        align-self: flex-end;
    }
}

/* curry-eachcountry */

#curry-eachcountry {
    /* height: 800px; */
    width: 100%;
    background-color: #FFF6F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardhover{
    width: 100%;
    height: 800px;
}

.cardhover iframe{
    height: 800px;
    width: 100%;
}
@media (max-width: 1380px) {
    .cardhover{
        height: 1400px;
    }
    
    .cardhover iframe{
        height: 1400px;
    }
}
@media (max-width: 1030px) {
    .cardhover{
        height: 1500px;
    }
    
    .cardhover iframe{
        height: 1500px;
    }
}
@media (max-width: 700px) {
    .cardhover{
        height: 2800px;
    }
    
    .cardhover iframe{
        height: 2800px;
    }
}


/* RWD斷點 */
/* 大型設備(桌機) */
@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:820px) {}

/* 小型設備(手機) */
@media (max-width:640px) {}