/* main */

/* member-info */
#member-info {
    padding-top: 116px;
    padding-bottom: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #FFFAF8;
    background-image: url(./image/member/member-bk.png);
    background-position:90% 90%;
    background-repeat: no-repeat;
}

#member-info h1 {
    font-size: 1.75rem;
    font-weight: 600;
}

.title {
    display: flex;
    width: 578px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 56px;
    padding-left: 151px;
}

#member-info .separator {
    font-size: 3rem;
    font-weight: 900;
}

.none {
    color: #B3B3B3;
}

#member-info div {
    margin-bottom: 24px;
}

#member-info label {
    font-size: 1.125rem;
    color: var(--09302b);
}
#member-info input {
    width: 570px;
    height: 52px;
    background-color: var(--f5e9e4);
    text-align: center;
    color: var(--09302b);
    border: none;
    margin-left: 30px;
}

#member-info button {
    width: 570px;
    height: 52px;
    background-color: var(--d59c41);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    margin-left: 102px;
}