/* main */

/* log */

#log {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #FFFAF8;
    padding-top: 152px;
    padding-bottom: 37px;
    background-image: url(./image/member/member-bk.png);
    background-position:90% 90%;
    background-repeat: no-repeat;
}

.log-input {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #B6B5B5;

}

.log-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log-box h1{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--09302b);
    margin-bottom: 39px;
    padding-left: 96px;
}

.log-box label {
    font-size: 1.125rem;
    color: var(--09302b);
    font-weight: 500;
    margin-right: 25px;
}

.log-box input {
    width: 525px;
    height: 52px;
    background-color:var(--f5e9e4);
    color: var(--09302b);
    text-align: center;
    border: none;
    margin-bottom: 24px;
}

.log-box button {
    width: 525px;
    height: 53px;
    margin-left: 100px;
    background-color: var(--d59c41);
    font-size: 1.5rem;
    border: none;
    margin-bottom: 16px;
}

.log-box>a{
    color: var(--d59c41);
    align-self: flex-end;
    margin-bottom: 38px;
}

.log-box h2 {
    color: var(--9f4800);
    margin-bottom: 28px;
    margin-left: 96px;
}

.log-box ul {
    display: flex;
    width: 285px;
    justify-content: space-between;
    margin-left: 96px;
}

.forgetacc {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgetacc h1{
    font-size: 1.375rem;
    color: var(--9f4800);
    font-weight: 500;
    margin-bottom: 50px;
}

.forgetacc button {
    width: 570px;
    height: 74px;
    color: white;
    background-color: var(--09302b);
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
}
