/* main */
main,
button {
    font-weight: 600;
}

/* pastorder */
#pastorder {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 105px;
    padding-bottom: 48px;
    background-color: #FFFAF8;
    background-image: url(./image/member/member-bk.png);
    background-position:90% 90%;
    background-repeat: no-repeat;
}

.title h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--09302b);
}

.title {
    display: flex;
    width: 471px;
    justify-content: space-between;
    margin-bottom: 40px;

}

.title .separator {
    font-size: 2.5rem;
    font-weight: 900;
}

.title .none {
    color: var(--9f4800);
}

.form-title-box,
.row {
    display: flex;
}

.form-title-box {
    height: 49px;
    background-color: var(--3b4a1f);
    color: white;
    font-size: 1.125rem;
    margin-bottom: 27px;
}

.form-title-box div {
    display: flex;
    align-items: center;
    padding-left: 9px;
}

.row div {
    border: 1px solid rgb(0, 0, 0, 0.5);
    font-size: 1.125rem;
    height: 70px;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.row div:last-child {
    display: flex;
    justify-content: space-between;
    padding-right: 89px;
    padding-left: 36px;
}

.row button {
    height: 38px;
    width: 150px;
    background-color: var(--d59c41);
    border: none;
    font-weight: 600;
    font-size: 1rem;
}

.w346 {
    width: 346px;
}

.w251 {
    width: 251px;
}

.w239 {
    width: 239px;
}

.w478 {
    width: 478px;
}

/* RWD斷點 */
/* 大型設備(桌機) */
@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:1330px) {
    .w346 {
        width: 250px;
    }

    .w251 {
        width: 150px;
    }

    .w239 {
        width: 150px;
    }

    .w478 {
        width: 300px;
    }

    .row div:last-child {
        padding-right: 5px;
        padding-left: 5px;
    }

    .row button {
        width: 100px;
    }
}

@media (max-width:865px) {
    .w346 {
        width: 170px;
    }

    .w251 {
        width: 120px;
    }

    .w239 {
        width: 100px;
    }

    .w478 {
        width: 250px;
    }

    /* .row div:last-child {
        padding-right: 5px;
        padding-left: 5px;
    }*/
    .row button {
        width: 80px;
    }

    .title {
        width: 400px;
    }

}

/* 小型設備(手機) */
@media (max-width:665px) {
    .row p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .row div:last-child {
        flex-direction: column;
        padding: 5px;
    }

    .w346 {
        width: 100px;
    }

    .w251 {
        width: 100px;
    }

    .w239 {
        width: 50px;
    }

    .w478 {
        width: 100px;
    }

    .title {
        width: 300px;
    }

    .row div{
        height: 90px;
    }
}