body {
    background: linear-gradient(#F3EFE9, #EEE4D8, #D8C5AD);
}

/* main */

/* banner */
#banner {
    height: 840px;
    background: url(./image/product/product-banner-top-left-bg.png) no-repeat;
    position: relative;
    padding-top: 310px;
    padding-left: 163px;
}

#banner .right {
    position: absolute;
    right: 0;
    top: 7%;
    z-index: 10;
}

.banner-content {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 384px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 50;
    color: #B9773E;
}

.banner-content-title {
    text-align: center;
    color: #9F4800;
}

.banner-content h1,
.masalaintro-content h1 {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 18px;
    color: #9F4800;
}

.banner-content p {
    font-size: 1.25rem;
    display: block;
    width: 340px;
}

.banner-content a {
    width: 184px;
    height: 57px;
    background-color: #D79A49;
    color: black;
    border: none;
    border-radius: 50px;
    font-size: 1.25rem;
    text-align: center;
    line-height: 57px;
}

.banner-content-img1 {
    position: absolute;
    top: 2%;
    right: 22%;
    z-index: 10;
}

.banner-content-img2 {
    position: absolute;
    top: 15%;
    right: 31%;
    z-index: 10;
}

.banner-content-img3 {
    position: absolute;
    top: 33%;
    right: 33%;
    z-index: 10;
}

.banner-content-img4 {
    position: absolute;
    top: 70%;
    right: 27%;
    z-index: 10;
}


/* RWD斷點 */
/* 大型設備(桌機) */
@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:820px) {
    #banner img {
        right: 0;
    }

    #banner .right {
        display: none;
    }

    #banner {
        padding-left: 100px;
    }
}

/* 小型設備(手機) */
@media (max-width:640px) {
    #banner img {
        display: none;
    }

    #banner {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* masalaintro */

#masalaintro {
    height: 836px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
#masalaintro small{
    color: #9F4800;
}

#masalaintro>img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.masalaintro-img-box {
    display: flex;
    z-index: 10;
}

.masalaintro-img-box img {
    object-fit: contain;
    z-index: 10;
}

.masalaintro-img-box-left {
    width: 431px;
    height: 604px;
    margin-right: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.masalaintro-content {
    text-align: center;
    width: 488px;
    height: 633px;
    background-image: url(./image/product/product-masalaintro-content-bk.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 70px;
    color:  #B9773E;
}

.masalaintro-content p {
    width: 405px;
    font-size: 1.25rem;
    margin-top: 43px;
    line-height: 1.5;
}

/* RWD斷點 */
/* 大型設備(桌機) */
@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:820px) {
    #masalaintro {
        flex-direction: column;
    }

    .masalaintro-img-box-left img:first-child,
    .masalaintro-img-box>img {
        display: none;
    }
    .masalaintro-img-box-left img{
        width: 100%;
    }
    #masalaintro>img {
        height: 100%;
    }

    .masalaintro-img-box-left {
        width: auto;
        height: auto;
        margin: 0;
    }

    .masalaintro-content {
        background-size: cover;
        padding-bottom: 20px;
    }

    .masalaintro-content p {
        width: 90%;
    }
}

/* 小型設備(手機) */
@media (max-width:640px) {
    .masalaintro-content {
        width: 100%;
    }

    .masalaintro-content p {
        text-align: left;
    }
}

/* menu-tag */
#menu-tag {
    width: 100%;
    height: 322px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15%;
}

.tag-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background: url(./image/product/product-menu-tag-left-bg.png) left, url(./image/product/product-menu-tag-right-bg.png) right;
    background-repeat: no-repeat;
}

.tag-box img {
    margin-top: 100px;
    width: 21%;
    max-width: 310px;
}

.tag-box h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 56px;
    margin-top: 38px;
}

.tag {
    width: 795px;
    display: flex;
    justify-content: space-between;
}

.tag li {
    display: block;
    width: 139px;
    height: 46px;
    background-color: #F3E9DC;
    text-align: center;
    line-height: 46px;
    border-radius: 20px;
    transition: all 0.35s;
}

.tag li button {
    color: #09302B;
    background: none;
    border: none;
    font-size: 1.125rem;
    width: 139px;
    height: 46px;
}
.tag li:hover {
    background-color: #d5a86e;
}

.tag li:active {
    background-color: #b5905f;
}

/* RWD斷點 */
/* 大型設備(桌機) */
@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:820px) {}

/* 小型設備(手機) */
@media (max-width:640px) {
    #menu-tag {
        height: 500px;
        background: none;
    }

    #menu-tag img {
        display: none;
    }

    .tag {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .tag li {
        margin: 10px;
    }

    .tag-box {
        background-image: none;
    }
}

/* product */


#product-content {
    padding: 100px 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    /* background-image: url(./image/product/product-content-bk.png);
    background-position: bottom;
    background-repeat: no-repeat; */
}

.product-content-card {
    width: 233px;
    height: 313px;
    background-color: #F8f8f8;
    border-radius: 20px;
    box-shadow: -6px 14px 12px rgb(255, 233, 200,0.35);
    margin: 50px 3%;
    position: relative;
}

.product-content-card a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #09302b;
}


.product-content-card figure {
    margin-top: 20px;
}

.product-content-card-title {
    font-size: 0.875rem;
}

.price {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.price small {
    font-size: 0.75rem;
    margin: 8px;
}

.price h2 {
    font-size: 1.25rem;
    margin-right: 37px;
}

.weight {
    color: #b3b3b3;
    margin: 20px 0;
}

.card-buy {
    z-index: 10;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #CC9F57;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 30px;
    opacity: 0;
    transition: all 0.7s;
}
.card-buy a{
    width: 43px;
    height: 43px;
}

.card-buy a img{
    /* margin-left: 35px; */
    width: 100%;
}

.product-content-card:hover .card-buy {
    opacity: 1;
}

.card-buy-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-hover-number img {
    /* 滑鼠游標圖案:超連結手指 */
    cursor: pointer;
    width: 14px;
}

.card-hover-number {
    width: 97px;
    height: 36px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: white;
    border-radius: 99px;

    font-size: 1.75rem;
    color: #606061;
    font-weight: bolder;
}


/* RWD斷點 */
/* 大型設備(桌機) */
@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:820px) {
    #product-content {
        padding: 100px 10%;
    }

    .product-content-card {
        margin: 50px 6%;
    }
}
@media (max-width:1025px) {
    .card-buy {
        opacity: 1;
    }
}

/* 小型設備(手機) */
@media (max-width:640px) {}

/* comment */

#comment {
    height: 726px;
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./image/product/product-comment-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

#comment h1 {
    font-size: 2.25rem;
    margin-bottom: 102px;
}

.comment-card-box {
    width: 84%;
    display: flex;
    justify-content: space-between;
}

.comment-card {
    width: 380px;
    height: 259px;
    background-color: #F7F7F7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.125rem;

    padding-top: 27px;
    padding-left: 19px;
    padding-right: 19px;

    overflow: hidden;
    margin: 5px;
}

.comment-card h2 {
    margin-bottom: 21px;
}

.comment-card img {
    width: 173px;
    object-fit: contain;
    margin-bottom: 23px;
}

.comment-card p {
    /* width: 351px; */
    text-align: center;
    line-height: 1.5;
}

.shop-num {
    position: fixed;
    bottom: 10%;
    right: 10%;
    z-index: 99;
}

.shop-num a {
    display: flex;
    align-items: center;
    background-color: brown;
    color: white;
    padding: 10px;
    border-radius: 99px;
}

main {
    position: relative;
}

.shopAdd{
    z-index: 99;
}

/* RWD斷點 */
/* 大型設備(桌機) */
@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:820px) {
    .comment-card:nth-child(n+3) {
        display: none;
    }

    .comment-card {
        margin: 5px;
    }

}

/* 小型設備(手機) */
@media (max-width:640px) {}


/* RWD斷點 */
/* 大型設備(桌機) */
@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:820px) {}

/* 小型設備(手機) */
@media (max-width:640px) {}