/* main */

/* register */

#register {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFAF8;
    padding-top: 120px;
    padding-bottom: 53px;

    background-image: url(./image/member/member-bk.png);
    background-position:90% 90%;
    background-repeat: no-repeat;
}

.register-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#register h1 {
    font-size: 1.75rem;
    color: var(--09302b);
    margin-left: 101px;
    margin-bottom: 35px;
}

#register label{
    font-size: 1.125rem;
    color: var(--09302b);
    margin-right: 29px;
}

#register input {
    width: 570px;
    height: 52px;
    border: none;
    background-color: var(--f5e9e4);
    text-align: center;
    margin-bottom: 24px;
}

.register-btn {
    width: 570px;
    height: 53px;
    border: none;
    background-color: var(--09302b);
    color: white;
    margin-left: 101px;
    margin-bottom: 32px;
}

#register small {
    color: var(--9f4800);
    font-size: 1.5rem;
    margin-left: 101px;
    margin-bottom: 17px;
}

.log-btn {
    width: 330px;
    height: 74px;
    border: none;
    background-color: var(--d59c41);
    color: var(--09302b);
    font-size: 1.75rem;
    margin-left: 101px;
}