/* main */

/* shoplist */

#sendinfo{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #FFFAF8;
    padding-bottom: 96px;
    padding-top: 104px;
}


.sendinfo-box {
    width: 1342px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title {
    width: 330px;
    height: 74px;
    background-color: var(--09302b);
    color: white;
    font-size: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 29px;
}

.step {
    display: flex;
    align-items: center;
    margin-bottom: 44px;
}

.sendinfo-content{
    padding-top: 22px;
    border-top: 2px solid var(--9f4800);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

fieldset{
    display: flex;
    align-items: center;
    
}

fieldset div{
    height: 52px;
    width: 268px;
    display: flex;
    justify-content: space-around
}

label ,fieldset p{
    font-size: 1.125rem;

}
.sendinfo-content div>input {
    width: 570px;
    height: 52px;
    border: none;
    background-color: var(--f5e9e4);
    color: var(--09302b);
    text-align: center;
    margin-bottom: 24px;
}

.sendinfo-content button{
    width: 570px;
    height: 53px;
    border: none;
    background-color: var(--d59c41);
    font-size: 1.5rem;
    margin-left: 90px;
}

.sendinfo-content fieldset{
    width: 700px;
    margin-bottom: 24px;
    display: flex;
    justify-content: flex-end;
}


.sendinfo-content fieldset label{
    /* display: block; */
    height: 52px;
    width: 265px;
    background-color: #F5E9E4;
    line-height: 52px;
    text-align: center;
    padding: 0 5px;
}

.sendinfo-content div label, .sendinfo-content fieldset p{
    margin-right: 30px;
}