/* main */
main,button {
    font-weight: 600;
}

/* shopdone */
#shopdone{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
    padding-bottom: 67px;
    background-color: #FFFAF8;
    background-image: url(./image/member/member-bk.png);
    background-position:90% 90%;
    background-repeat: no-repeat;
}

.shopdone-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopdone-box figure {
    margin-bottom: 25px;
}

.shopdone-box h1 {
    font-size: 1.75rem;
    margin-bottom: 20px;
}

.shopdone-box .btn button {
    width: 150px;
    height: 31px;
    border: none;
    background-color: var(--d59c41);
    color: white;
    margin: 0 35px;
    font-size: 1rem;
}

/* 小型設備(手機) */
@media (max-width:640px) {
    .shopdone-box .btn button {
        width: 100px;
    }
}