/* main */

/* shoplist */

#shoplist{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFAF8;
    padding-bottom: 96px;
    padding-top: 104px;
    min-height: 100vh;
}


.shoplist-box {
    width: 1342px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title {
    width: 330px;
    height: 74px;
    background-color: var(--09302b);
    color: white;
    font-size: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 29px;
}

.step {
    display: flex;
    align-items: center;
    margin-bottom: 44px;
}

.shoplist-content{
    padding-top: 22px;
    border-top: 2px solid var(--9f4800);
    padding-bottom: 39px;
    border-bottom: 2px solid var(--9f4800);
}

.order-title-box {
    width: 100%;
    display: flex;
    font-size: 1.125rem;
    background-color: var(--3b4a1f);
    color: white;
    height: 49px;
    margin-bottom: 24px;
}
.order-title-box>div, .order-row>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}

.order-title-box div:last-child {
    padding-right: 38px;
    align-items: flex-end;
}

.order-row {
    display: flex;
    height: 104px;
    background-color: var(--f5e9e4);
    margin-bottom: 12px;
    font-weight: 600;
}

.order-row del{
    color: #B3B3B3;
}


.order-row div:first-child{
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-right: 2px solid #FFFAF8;
}

.order-row h1 {
    font-size: 1.125rem;
}

.h1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.order-row img {
    height: 80px;
    width: 80px;
}

.discount-banner {
    height: 24px;
    background-color: #09302B;
    color: white;
    display: flex;

}
.discount {
    width: 100%;
    height: 100%;
    font-size: 0.875rem;
    text-align: center;
}
.discount *{
    width: 191px;
    line-height: 1.5;
}

.amount *{
    padding-left: 15px;
}

.total {
    padding-right: 30px;
    text-align: end;
}

.w359{
    width: 359px;
}
.w269{
    width: 269px;
}
.w208{
    width: 208px;
}
.w181{
    width: 181px;
}
.w325{
    width: 325px;
}

.total-box {
    align-self: flex-end;
    margin-top: 28px;
    font-weight: 600;
}

.total-box>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 540px;
    height: 32px;
    background-color: var(--f5e9e4);
    padding-right: 36px;
    margin-bottom: 9px;
}

.total-l{
    width: 146px;
    text-align: center;
}

.total-box a button{
    float: right;
    width: 217px;
    height: 48px;
    background-color: var(--d59c41);
    border: none;
    text-align: center;
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 22px;
}