@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "Noto Sans TC", "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

.lancelot-regular {
    font-family: "Lancelot", serif;
}

/* 共用區 */
:root {
    /* 主色調 */
    --f5e9e4: #F5E9E4;
    --9f4800: #9F4800;
    --d59c41: #D59C41;
    --09302b: #09302B;
    --3b4a1f: #3B4A1F;
}


/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.5;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
    /* 不累加邊框與內距的寬度 */
}

/* css reset end */

/* all */
a {
    text-decoration: none;
}

body {
    width: 100%;
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

.topbar-h {
    height: 90px;
}

/* RWD斷點 */
/* 大型設備(桌機) */
@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:820px) {
    .topbar-h {
        height: 80px;
    }
}

/* 小型設備(手機) */
@media (max-width:640px) {
    .topbar-h {
        height: 70px;
    }
}

/* topbar */


.topbar iframe {
    width: 100%;
    height: 200px;
    position: fixed;
    z-index: 100;
}



/* footer */

.footer iframe {
    width: 100%;
    height: 254px;
}

/* main */

/* title */
.numbertitle {
    font-size: 2.5rem;
}

.entitle {
    font-size: 4rem;
}

.fqa h1 {
    margin-right: 90px;
}

/* banner */
.banner {
    height: 100vh;
}
.carousel iframe {
    height: 100vh;
    width: 100%;
}

/* RWD斷點 */
/* 大型設備(桌機) */
@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:820px) {}

/* 小型設備(手機) */
@media (max-width:640px) {
    /* .banner {
        display: none;
    } */
}

/* news */

.news {
    position: relative;
    width: 100%;
    height: 800px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--9f4800);
    display: flex;
    flex-direction: row-reverse;
}

.news-img,
.news-box {
    height: 100%;
    width: 50%;
}

.news-img img {
    position: relative;
    object-fit: contain;
    height: 66.25%;
    width: 73.6%;
    margin-top: 220px;
    margin-left: 172px;
    filter: drop-shadow(-15px 26px 0 #CF9842);
    z-index: 20;
}

.news-box {
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.news-title {
    color: var(--f5e9e4);
    display: flex;
    align-items: center;
    margin-left: 27.5%;
    margin-top: 10%;
}

.news-title * {
    margin: 0 40px 6.5% 40px;
}

.news-content {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    font-size: 1.25rem;
}

.news-content article {
    margin-bottom: 45px;
}

.news-content-date {
    color: #CF9842;
}

.news-content-text {
    color: var(--f5e9e4);
}

.news-more-button a {
    height: 50px;
    width: 189px;
    background-color: var(--9f4800);
    color: #FCECCC;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 99px;
    margin-left: 47.5%;
    margin-top: 16%;
}

.bird {
    position: absolute;
    object-fit: auto;
    top: 100px;
    left: 40%;
    z-index: 10;
}

/* RWD斷點 */
/* 大型設備(桌機) */
@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:820px) {
    .news-img img {
        margin: 50px;
    }

    .news-title {
        margin: 30px 0 10px 0;
    }
}

/* 小型設備(手機) */
@media (max-width:640px) {
    .news {
        height: 100vh;
    }

    .wave-4-bg,
    .wave-3-bg,
    .wave-2-bg,
    .wave-1-bg {
        display: none;
    }

    .news-img,
    .bird {
        display: none;
    }

    .news-box {
        width: 100%;
        padding-top: 100px;
    }

    .news-more-button a {
        background-color: #062F2A;
    }
}

/* brand */

.brand {
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
}

.brand-box {
    width: 767px;
    padding-left: 135px;
    margin-top: 110px;
    margin-left: 10%;
    z-index: 50;
}

.brand-box * {
    color: #FFFFFF;
}

.brand-title {
    display: flex;
    align-items: center;
}

.brand-title * {
    margin: 0 40px 60px 40px;
}

.brand-content {
    z-index: 50;
}

.brand-content h2 {
    font-size: 1.25rem;
    margin-bottom: 38px;
}

.brand-content p {
    /* width: 82%; */
    line-height: 150%;
}

.brand-more-button {
    height: 50px;
    width: 189px;
    background-color: var(--9f4800);
    color: #FCECCC;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 99px;
    margin-top: 60px;
}

.brand-img {
    width: 46.73%;
    padding-left: 80px;
    padding-top: 35px;
    filter: drop-shadow(50px 37px 0 var(--9f4800));
    z-index: 50;
}

.wave-1-bg {
    height: 960px;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 0;
}

.wave-2-bg {
    height: 1137px;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 0;
}

.wave-3-bg {
    height: 1184px;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 0;
}

.wave-4-bg {
    height: 1233px;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 0;
}

.star {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:820px) {
    .leaf-right-bg {
        display: none;
    }

    .brand-img {
        display: none;
    }
}

/* 小型設備(手機) */
@media (max-width:640px) {
    .brand {
        background-color: #062F2A;
    }

    .brand-img {
        display: none;
    }

    .brand-box {
        padding: 30px 20px;
        margin: 0;
        width: 100%;
    }

    .brand-title * {
        margin: 8px;
    }

    .star,
    .light-bg {
        display: none;
    }
}

/* product */

.product {
    position: relative;
    height: 1100px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #09302B;
}

.product-box {
    height: 54%;
    /* width: 74%; */
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}

.product-box * {
    color: var(--09302b);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-content-box {
    height: 378px;
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.product-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 26.5%;
}

.product-content h2 {
    font-size: 1.25rem;
    font-weight: bold;
}

.product-content p {
    line-height: 150%;
}

.product-more-button a {
    height: 50px;
    width: 189px;
    background-color: var(--9f4800);
    color: #FCECCC;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 99px;
}

.roof-bg {
    height: 1004px;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 6;
}

.light-bg {
    position: absolute;
    left: 0;
    bottom: 29%;
    z-index: 5;

}

.leaf-right-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.leaf-left-bg {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
}


@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:820px) {

    /* .product-box{
        height: 40%;
    } */
    .product {
        height: 800px;
    }

    .roof-bg {
        height: 750px;
    }

    .product-content-box img {
        display: none;
    }

    .product-content-box {
        padding: 0;
        justify-content: center;
    }

    .product-content {
        width: 60%;
        align-items: center;
    }
}

/* 小型設備(手機) */
@media (max-width:640px) {
    .product {
        background-color: #FFFAF8;
        height: 100vh;
    }

    .roof-bg {
        display: none;
    }

    .product-box {
        height: 100%;
        justify-content: center;
    }

    .product-title {
        margin: 20px 0;
    }

    .product-more-button {
        margin: 15px 0;
    }
}

/* contact */

.contact {
    height: 955px;
    padding-top: 15%;
    position: relative;
    background-color: #FFFAF8;
}

.contact-title {
    position: relative;
    width: 27%;
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--09302b);
    z-index: 10;
}

.contact-box {
    display: flex;
    margin-left: 30%;
    margin-top: 255px;
    color: #FCECCC;
    position: relative;
    z-index: 10;
}

.contact-content {
    display: flex;
}

.contact-content img {
    margin-right: 28px;
}

.contact-box ul {
    display: flex;
    flex-direction: column;
}

.contact-box ul li {
    font-size: 1.5rem;
    margin-bottom: 68px;
    margin-right: 53px;
}

.fqa {
    display: flex;
}

.dessert-bg {
    height: 800px;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 0;
}

.elephant {
    position: absolute;
    right: 20%;
    top: 20%;
    z-index: 1;
}

.lefthand {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.righthand {
    position: absolute;
    left: 320px;
    bottom: 0;
    z-index: 1;
}

@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:820px) {
    .contact-box {
        margin: 15% 10%;
        flex-direction: column;
        align-items: center;
    }

    .contact-content ul:first-child {
        width: 250px;
    }

    .elephant {
        display: none;
    }

    .fqa h1 {
        margin-right: 200px;
    }
}

/* 小型設備(手機) */
@media (max-width:640px) {
    .contact {
        background-color: #CF9842;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 15%;
        overflow-x: hidden;
    }

    .contact img {
        display: none;
    }

    .contact-title {
        margin: 10px 0;
    }

    .contact-box {
        margin: 0;
    }

    .contact-box ul li {
        margin: 0;
    }

    .contact-content ul:first-child {
        width: 170px;
    }

    .contact-content ul:first-child li {
        padding-left: 10px;
        margin: 10px 0;
    }

    .contact-content ul li {
        margin: 10px 0;
    }

    .fqa {
        align-self: flex-start;
        flex-direction: column;
        margin-left: 10px;
    }

    .fqa h1 {
        margin-right: 50px;
        margin-bottom: 30px;
    }

    .fqa ul li {
        margin: 10px 0;
    }
}


/* RWD斷點 */
/* 大型設備(桌機) */
@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:820px) {}

/* 小型設備(手機) */
@media (max-width:640px) {}