@charset "UTF-8";

/* 共用區 */
:root {
    /* 主色調 */
    --f5e9e4: #F5E9E4;
    --9f4800: #9F4800;
    --d59c41: #D59C41;
    --09302b: #09302B;
    --3b4a1f: #3B4A1F;
}


/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
    /* 不累加邊框與內距的寬度 */
}

/* css reset end */

/* all */
a {
    text-decoration: none;
}

body {
    width: 100%;
}


/* header */
header {
    width: 100%;
}

.topbar {
    width: 100%;
    height: 92px;
    background-color: var(--9f4800);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 25px;
    padding-left: 37px;
    padding-right: 37px;
    /* position: fixed; */
    z-index: 100;
    /* overflow-x: hidden; */
}

.topbar a {
    color: var(--f5e9e4);
    transition: 0.3s;
}


.topbar a:hover {
    padding-bottom: 3px;
    border-bottom: 1px solid #F5E9E4;
}

.topbar nav ul {
    display: flex;
}

.topbar-member li,
.menu li {
    margin: 15px;
    white-space: nowrap;
}

.topbar-member {
    display: flex;
    align-items: center;
}

.topbar .menu {
    display: flex;
    width: 492px;
}

.member {
    /* padding-top: 38px; */

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.member-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 46px;
    position: absolute;
    display: none;
}

.member-box li {
    width: 86px;
    height: 31px;
    margin: 0.5px;
    background-color: var(--d59c41);
    text-align: center;
    line-height: 31px;
}


.member:hover .member-box {
    display: flex;
}

.home {
    display: none;
}

/* RWD斷點 */
/* 大型設備(桌機) */
@media (min-width:821px) {}

/* 中型設備(平板) */
@media (max-width:820px) {
    .logo img {
        width: 100px;
    }

    .topbar .menu {
        width: 400px;
    }

    .member:active .member-box {
        display: block;
    }

    .topbar {
        height: 80px;
        padding: 25px 37px;
    }
}

/* 小型設備(手機) */
@media (max-width:640px) {
    .logo {
        display: none;
    }

    .topbar {
        flex-direction: column;
        align-items: center;
        padding: 0;
        height: 70px;
    }

    .menu {
        margin: 0;
    }

    .topbar .menu {
        width: 100%;
    }

    .topbar-member li,
    .menu li {
        margin: 10px;
    }

    .member-box {
        padding-top: 15px;
    }

    .home {
        display: block;
    }

    .rwd-s-n {
        display: none;
    }

    .topbar-member {
        height: 16px;
        align-self: flex-end;
    }

    .member {
        height: 100%;
    }

    .member a {
        padding: 0;
    }
    .member-box li {
        margin: 0px;
    }
}

.logout{
    cursor: pointer;
}

.logo a:hover{
    border: none;
}